{% extends 'base.html' %}
{% block title_block %}
    Register
{% endblock %}
{% block body_block %}
<table class="table table-hover">
<thead>
<tr>
    <th scope="col">Student</th>
    <th scope="col">Course</th>
    <th scope="col">Term</th>
</tr>
</thead>
<tbody>
    <tr>
        <td>{{ object.student_id }}</td>
        <td>{{ object.course_id }}</td>
        <td>{{ object.term_id }}</td>
    </tr>

</tbody>
</table>
<button type="button" class="btn btn-default btn-lg">
  <span class="bi bi-arrow-return-left" aria-hidden="true"><a  href="{% url 'sisapp:registration_list' %}" >Back to List</a></span>
</button>
{% endblock %}